# Examen

## Datos

Alumno

**Nombre:** Alan Ruiz Mondragón.  
**Grupo:** 18.

## Librerias

In [3]:
#Importamos librerias
import datetime
import emoji
import jellyfish as jf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re 
import seaborn as sns
import unicodedata

## Funciones

In [21]:
#Definimos una función para limpieza de texto
def clean_text(text, pattern="[^a-zA-Z0-9 ]"):
    text=str(text)
    cleaned_text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore')
    cleaned_text = re.sub(pattern, " ", cleaned_text.decode("utf-8"), flags=re.UNICODE)
    cleaned_text = u' '.join(cleaned_text.lower().strip().lstrip().split())
    return cleaned_text if cleaned_text!="nan" else np.nan

## Datasets

In [19]:
#Cargamos los datos
#Cargamos el dataset principal
df = pd.read_csv('/Users/alanruizmondragon/Documents/PERSONAL/Code/Diplomados/Ciencia de datos/Modulo I/examen/data/data_examen.csv')
#Nombramos al dataset secuendario
df1 = pd.read_csv('/Users/alanruizmondragon/Documents/PERSONAL/Code/Diplomados/Ciencia de datos/Modulo I/examen/data/ocupaciones_examen.csv')

## Créditos

**Contenido**

El primer dataset hace referencia información relacionada con las características de personas que aplicaron para solicitar un crédito, adicional a esa información se cuenta
con una variable ”tgt” que representa una variable objetivo que toma el valor de 1 si se otorgó el crédito y 0 si se rechazó la solicitud.

In [50]:
#Visualizamos el dataset principal
df.head(5)

,ID_CLIENT,ID_SHOP,SEX,MARITAL_STATUS,AGE,QUANT_DEPENDANTS,EDUCATION,FLAG_RESIDENCIAL_PHONE,AREA_CODE_RESIDENCIAL_PHONE,PAYMENT_DAY,...,QUANT_BANKING_ACCOUNTS,PERSONAL_REFERENCE_#1,PERSONAL_REFERENCE_#2,FLAG_MOBILE_PHONE,FLAG_CONTACT_PHONE,PERSONAL_NET_INCOME,COD_APPLICATION_BOOTH,QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION,FLAG_CARD_INSURANCE_OPTION,tgt
0,2,15,F,S,18.0,0,NaN,Y,31,20,...,0,SARA,FELIPE,N,N,300.0,0,0,N,0
1,4,12,F,C,NaN,0,NaN,N,31,25,...,0,JACI,VALERIA ALEXANDRA TRAJANO,N,N,304.0,0,0,N,0
2,5,16,F,S,28.0,0,NaN,Y,31,25,...,0,NaN,SANDRO L P MARTINS,N,N,250.0,0,0,N,0
3,6,24,M,S,26.0,0,NaN,N,31,28,...,0,NaN,ANA,N,N,800.0,0,0,N,0
4,7,55,F,S,22.0,0,NaN,Y,31,12,...,0,NaN,NaN,N,N,410.0,0,0,N,0

**Tamaño**

In [25]:
#Visualizamos el tamaño del dataset
df.shape

(51000, 32)

**Formato**

In [31]:
#Visualizamos la información del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID_CLIENT                                  51000 non-null  int64
 1   ID_SHOP                                    51000 non-null  int64
 2   SEX                                        50997 non-null  object
 3   MARITAL_STATUS                             51000 non-null  object
 4   AGE                                        48528 non-null  float64
 5   QUANT_DEPENDANTS                           51000 non-null  int64
 6   EDUCATION                                  0 non-null      float64
 7   FLAG_RESIDENCIAL_PHONE                     51000 non-null  object
 8   AREA_CODE_RESIDENCIAL_PHONE                51000 non-null  int64
 9   PAYMENT_DAY                                51000 non-null  int64
 10  SHOP_RANK                                  51000 non-null  int64
 11  RESIDENCE_TYPE                             51000 non-null  object
 12  MONTHS_IN_RESIDENCE                        51000 non-null  int64
 13  FLAG_MOTHERS_NAME                          51000 non-null  object
 14  FLAG_FATHERS_NAME                          51000 non-null  object
 15  FLAG_RESIDENCE_TOWN=WORKING_TOWN           51000 non-null  object
 16  FLAG_RESIDENCE_STATE=WORKING_STATE         51000 non-null  object
 17  MONTHS_IN_THE_JOB                          51000 non-null  int64
 18  PROFESSION_CODE                            51000 non-null  int64
 19  MATE_INCOME                                50694 non-null  float64
 20  FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS    51000 non-null  object
 21  FLAG_OTHER_CARD                            51000 non-null  object
 22  QUANT_BANKING_ACCOUNTS                     51000 non-null  int64
 23  PERSONAL_REFERENCE_#1                      30375 non-null  object
 24  PERSONAL_REFERENCE_#2                      37113 non-null  object
 25  FLAG_MOBILE_PHONE                          51000 non-null  object
 26  FLAG_CONTACT_PHONE                         49721 non-null  object
 27  PERSONAL_NET_INCOME                        51000 non-null  object
 28  COD_APPLICATION_BOOTH                      51000 non-null  int64
 29  QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION  51000 non-null  int64
 30  FLAG_CARD_INSURANCE_OPTION                 51000 non-null  object
 31  tgt                                        51000 non-null  int64
dtypes: float64(3), int64(13), object(16)
memory usage: 12.5+ MB

**Diccionario**

In [17]:
#Cargamos el diccionario de datos del dataset principal
diccionario = pd.read_excel('/Users/alanruizmondragon/Documents/PERSONAL/Code/Diplomados/Ciencia de datos/Modulo I/examen/diccionario/VariablesList.xlsx')

In [16]:
#Visualizamos el diccionario de datos del dataset principal 
diccionario

,Var_Id,Var_Title,Var_Description,Field_Content
0,1,ID_CLIENT,Sequential number for the applicant (to be use...,"1-50000, 50001-70000, 70001-90000"
1,2,CLERK_TYPE,Not informed,C
2,3,PAYMENT_DAY,"Day of the month for bill payment, chosen by t...","1,5,10,15,20,25"
3,4,APPLICATION_SUBMISSION_TYPE,Indicates if the application was submitted via...,"Web, Carga"
4,5,QUANT_ADDITIONAL_CARDS/QUANT_ADDITIONAL_CARDS_...,Quantity of additional cards asked for in the ...,"1,2,NULL"
5,6,POSTAL_ADDRESS_TYPE,Indicates if the address for posting is the ho...,1.2
6,7,SEX,NaN,"M=Male, F=Female"
7,8,MARITAL_STATUS,Encoding not informed,"1,2,3,4,5,6,7"
8,9,QUANT_DEPENDANTS,NaN,"0, 1, 2, ..."
9,10,EDUCATION_LEVEL,Edducational level in gradual order not informed,"1,2,3,4,5"
10,11,STATE_OF_BIRTH,NaN,"Brazilian states, XX, missing"
11,12,CITY_OF_BIRTH,NaN,NaN
12,13,NACIONALITY,Country of birth. Encoding not informed but Br...,"0, 1, 2"
13,14,RESIDENCIAL_STATE,State of residence,Working Stage
14,15,RESIDENCIAL_CITY,City of residence,NaN
15,16,RESIDENCIAL_BOROUGH,Borough of residence,NaN
16,17,FLAG_RESIDENCIAL_PHONE,Indicates if the applicant possesses a home phone,"Y,N"
17,18,RESIDENCIAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
18,19,RESIDENCE_TYPE,"Encoding not informed. In general, there are t...","1,2,3,4,5,NULL"
19,20,MONTHS_IN_RESIDENCE,Time in the current residence in months,"1,2,... , NULL"
20,21,FLAG_MOBILE_PHONE,Indicates if the applicant possesses a mobile ...,"Y,N"
21,22,FLAG_EMAIL,Indicates if the applicant possesses an e-mail...,0.1
22,23,PERSONAL_MONTHLY_INCOME/PERSONAL_NET_INCOME,Applicant's personal regular monthly income in...,NaN
23,24,OTHER_INCOMES,Applicant's other incomes monthly averaged in ...,NaN
24,25,FLAG_VISA,Flag indicating if the applicant is a VISA cre...,0.1
25,26,FLAG_MASTERCARD,Flag indicating if the applicant is a MASTERCA...,0.1
26,27,FLAG_DINERS,Flag indicating if the applicant is a SINERS c...,0.1
27,28,FLAG_AMERICAN_EXPRESS,Flag indicating if the applicant is an AMERICA...,0.1
28,29,FLAG_OTHER_CARDS,"Despite being label ""FLAG"", this field present...","0,1,NULL"
29,30,QUANT_BANKING_ACCOUNTS,NaN,"0,1,2"
30,31,QUANT_SPECIAL_BANKING_ACCOUNTS,NaN,"0,1,2"
31,32,PERSONAL_ASSETS_VALUE,Total value of the personal possessions such a...,NaN
32,33,QUANT_CARS,Quantity of cars the applicant possesses,NaN
33,34,COMPANY,If the applicant has supplied the name of the ...,"Y,N"
34,35,PROFESSIONAL_STATE,State where the applicant works,NaN
35,36,PROFESSIONAL_CITY,City where the applicant works,NaN
36,37,PROFESSIONAL_BOROUGH,Borough where the applicant works,NaN
37,38,FLAG_PROFESSIONAL_PHONE,Indicates if the professional phone number was...,"Y,N"
38,39,PROFESSIONAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
39,40,MONTHS_IN_THE_JOB,Time in the current job in months,NaN
40,41,PROFESSION_CODE,Applicant's profession code. Encoding not info...,"1,2,3,..."
41,42,OCCUPATION_TYPE,Encoding not informed,"1,2,3,4,5,NULL"
42,43,MATE_PROFESSION_CODE,Mate's profession code. Encoding not informed,"1,2,3,..."
43,44,EDUCATION_LEVEL,Mate's educational level in gradual order not ...,"1,2,3,4,5"
44,45,FLAG_HOME_ADDRESS_DOCUMENT,Flag indicating documental confirmation of hom...,0.1
45,46,FLAG_RG,Flag indicating documental confirmation of cit...,0.1
46,47,FLAG_CPF,Flag indicating documental confirmation of tax...,0.1
47,48,FLAG_INCOME_PROOF,Flag indicating documental confirmation of income,0.1
48,49,PRODUCT,Type of credit product applied. Encoding not i...,"1,2,7"
49,50,FLAG_ACSP_RECORD,Flag indicating if the applicant has any previ...,"Y, N"
50,51,AGE,Applicant's age at the moment of submission,NaN
51,52,RESIDENCIAL_ZIP_3,Three most significant digits of the actual ho...,NaN
52,53,PROFESSIONAL_ZIP_3,Three most significant digits of the actual jo...,NaN
53,54,TARGET_LABEL_BAD=1 (tgt),"Target Variable: BAD=1, GOOD=0",NaN
54,55,ID_SHOP,Flag indicating shop,NaN
55,56,FLAG_RESIDENCE_TOWN=WORKING_TOWN,NaN,NaN
56,57,MATE_INCOME,Mate's income,NaN
57,58,FLAG_CONTACT_PHONE,Indicates if the contact phone number was supp...,NaN

### Ocupaciones

**Contenido**

El segundo dataset contiene las profesiones y los códigos respectivos a estas.

In [22]:
#Visualizamos el dataset principal
df1.head(5)

   PROFESSION_CODE                              PROFESSION
0              999  Healthcare Practitioners and Technical
1              950  Healthcare Practitioners and Technical
2               13     Educational Instruction and Library
3              205                              Production
4              703     Educational Instruction and Library

**Tamaño**

In [28]:
#Visualizamos el tamaño del dataset
df1.shape

(295, 2)

**Formato**

In [30]:
#Visualizamos la información del dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PROFESSION_CODE  295 non-null    int64
 1   PROFESSION       295 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

## Calidad de datos

### Definición

La calidad de datos se refiere al grado en que los datos se ajustan a los criterios establecidos para su uso. Estos criterios de calidad de los datos abarcan aspectos como exactitud, coherencia, actualización, exhaustividad y decirigibilidad. La calidad de los datos es uno de los principales factores en el éxito de la base de datos. Si los datos no cumplen con los criterios de calidad adecuados, la información generada a partir de dichos datos también será maliciosa o inútil. Por lo tanto, es crítica la necesidad de vigilancia y mejora de la calidad de los datos.

### Etiquetado

#### Contenido

Visualizamos el contenido y las columnas de los datasets nuevamente para registrar los siguientes pasos de calidad.

##### Dataset princial

In [47]:
#Visualizamos las columnas contenidas dentro del dataset principal
df.columns

Index(['ID_CLIENT', 'ID_SHOP', 'SEX', 'MARITAL_STATUS', 'AGE',
       'QUANT_DEPENDANTS', 'EDUCATION', 'FLAG_RESIDENCIAL_PHONE',
       'AREA_CODE_RESIDENCIAL_PHONE', 'PAYMENT_DAY', 'SHOP_RANK',
       'RESIDENCE_TYPE', 'MONTHS_IN_RESIDENCE', 'FLAG_MOTHERS_NAME',
       'FLAG_FATHERS_NAME', 'FLAG_RESIDENCE_TOWN=WORKING_TOWN',
       'FLAG_RESIDENCE_STATE=WORKING_STATE', 'MONTHS_IN_THE_JOB',
       'PROFESSION_CODE', 'MATE_INCOME',
       'FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS', 'FLAG_OTHER_CARD',
       'QUANT_BANKING_ACCOUNTS', 'PERSONAL_REFERENCE_#1',
       'PERSONAL_REFERENCE_#2', 'FLAG_MOBILE_PHONE', 'FLAG_CONTACT_PHONE',
       'PERSONAL_NET_INCOME', 'COD_APPLICATION_BOOTH',
       'QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION',
       'FLAG_CARD_INSURANCE_OPTION', 'tgt'],
      dtype='object')

In [36]:
#Visualizamos el contenido del datset principal
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID_CLIENT                                  51000 non-null  int64
 1   ID_SHOP                                    51000 non-null  int64
 2   SEX                                        50997 non-null  object
 3   MARITAL_STATUS                             51000 non-null  object
 4   AGE                                        48528 non-null  float64
 5   QUANT_DEPENDANTS                           51000 non-null  int64
 6   EDUCATION                                  0 non-null      float64
 7   FLAG_RESIDENCIAL_PHONE                     51000 non-null  object
 8   AREA_CODE_RESIDENCIAL_PHONE                51000 non-null  int64
 9   PAYMENT_DAY                                51000 non-null  int64
 10  SHOP_RANK                                  51000 non-null  int64
 11  RESIDENCE_TYPE                             51000 non-null  object
 12  MONTHS_IN_RESIDENCE                        51000 non-null  int64
 13  FLAG_MOTHERS_NAME                          51000 non-null  object
 14  FLAG_FATHERS_NAME                          51000 non-null  object
 15  FLAG_RESIDENCE_TOWN=WORKING_TOWN           51000 non-null  object
 16  FLAG_RESIDENCE_STATE=WORKING_STATE         51000 non-null  object
 17  MONTHS_IN_THE_JOB                          51000 non-null  int64
 18  PROFESSION_CODE                            51000 non-null  int64
 19  MATE_INCOME                                50694 non-null  float64
 20  FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS    51000 non-null  object
 21  FLAG_OTHER_CARD                            51000 non-null  object
 22  QUANT_BANKING_ACCOUNTS                     51000 non-null  int64
 23  PERSONAL_REFERENCE_#1                      30375 non-null  object
 24  PERSONAL_REFERENCE_#2                      37113 non-null  object
 25  FLAG_MOBILE_PHONE                          51000 non-null  object
 26  FLAG_CONTACT_PHONE                         49721 non-null  object
 27  PERSONAL_NET_INCOME                        51000 non-null  object
 28  COD_APPLICATION_BOOTH                      51000 non-null  int64
 29  QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION  51000 non-null  int64
 30  FLAG_CARD_INSURANCE_OPTION                 51000 non-null  object
 31  tgt                                        51000 non-null  int64
dtypes: float64(3), int64(13), object(16)
memory usage: 12.5+ MB

In [ ]:
#Visualizamos la distribución del contenido por tipos de datos de la columna del dataset principal 
df.dtypes.value_counts()

object     16
int64      13
float64     3
dtype: int64

**Distribución del contenido**

Los tipos de datos contenidos en el dataset se distribuyen de la siguiente manera

- Columnas de tipo Object: 16
- Columnas de tipo int: 13
- Columnas de tipo float: 3

##### Dataset secundario

In [46]:
#Visualizamos las columnas contenidas dentro del dataset principal
df1.columns

Index(['PROFESSION_CODE', 'PROFESSION'], dtype='object')

In [40]:
#Visualizamos el contenido del datset secundario
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PROFESSION_CODE  295 non-null    int64
 1   PROFESSION       295 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

In [48]:
#Visualizamos la distribución del contenido por tipos de datos de la columna del dataset secundario 
df1.dtypes.value_counts()

int64     1
object    1
dtype: int64

**Distribución del contenido**

Los tipos de datos contenidos en el dataset se distribuyen de la siguiente manera

- Columnas de tipo int: 1
- Columnas de tipo object: 1

#### Prefijos

Realizamos el etiquetado de las variables utilizando los siguientes prefijos que utilizaremos para los tipos de variables se describen de la siguiente manera

- **c_**: Variables numericas (discretas y continuas).
- **v_**: Variables categoricas.
- **d_**: Variables tipo fecha.
- **t_**: Variables de texto (comentarios, descripciones, url, etc.).
- **g_**: Variables geograficas.

In [55]:
#Realizamos el etiquetado de las variables del datset principal de acuerdo a los prefijos anteriormente establecidos
c_feats=['ID_CLIENT', 'ID_SHOP', 'AGE', 'QUANT_DEPENDANTS', 'PAYMENT_DAY', 'SHOP_RANK',
        'AREA_CODE_RESIDENCIAL_PHONE', 'MONTHS_IN_RESIDENCE', 'MATE_INCOME', 'PERSONAL_NET_INCOME', 'COD_APPLICATION_BOOTH', 'PROFESSION_CODE',
        'QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION', 'MONTHS_IN_THE_JOB', 'QUANT_BANKING_ACCOUNTS']
v_feats=['SEX', 'EDUCATION', 'MARITAL_STATUS', 'FLAG_MOTHERS_NAME', 'FLAG_FATHERS_NAME', 'FLAG_RESIDENCE_STATE=WORKING_STATE',
        'FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS', 'FLAG_OTHER_CARD', 'RESIDENCE_TYPE', 'FLAG_RESIDENCE_TOWN=WORKING_TOWN', 'FLAG_RESIDENCIAL_PHONE', 'FLAG_MOBILE_PHONE', 
        'FLAG_CONTACT_PHONE', 'FLAG_CARD_INSURANCE_OPTION']
t_feats=['PERSONAL_REFERENCE_#1', 'PERSONAL_REFERENCE_#2']

In [57]:
#Aplicamos 
c_feats_new=["c_"+x for x in c_feats]
v_feats_new=["v_"+x for x in v_feats]
t_feats_new=["t_"+x for x in t_feats]

#Renombramos las columnas
df.rename(columns=dict(zip(c_feats, c_feats_new)),inplace=True)
df.rename(columns=dict(zip(v_feats, v_feats_new)),inplace=True)
df.rename(columns=dict(zip(t_feats, t_feats_new)),inplace=True)

In [58]:
df.columns

Index(['c_ID_CLIENT', 'c_ID_SHOP', 'v_SEX', 'v_MARITAL_STATUS', 'c_AGE',
       'c_QUANT_DEPENDANTS', 'v_EDUCATION', 'v_FLAG_RESIDENCIAL_PHONE',
       'c_AREA_CODE_RESIDENCIAL_PHONE', 'c_PAYMENT_DAY', 'c_SHOP_RANK',
       'v_RESIDENCE_TYPE', 'c_MONTHS_IN_RESIDENCE', 'v_FLAG_MOTHERS_NAME',
       'v_FLAG_FATHERS_NAME', 'v_FLAG_RESIDENCE_TOWN=WORKING_TOWN',
       'v_FLAG_RESIDENCE_STATE=WORKING_STATE', 'c_MONTHS_IN_THE_JOB',
       'c_PROFESSION_CODE', 'c_MATE_INCOME',
       'v_FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS', 'v_FLAG_OTHER_CARD',
       'c_QUANT_BANKING_ACCOUNTS', 't_PERSONAL_REFERENCE_#1',
       't_PERSONAL_REFERENCE_#2', 'v_FLAG_MOBILE_PHONE',
       'v_FLAG_CONTACT_PHONE', 'c_PERSONAL_NET_INCOME',
       'c_COD_APPLICATION_BOOTH',
       'c_QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION',
       'v_FLAG_CARD_INSURANCE_OPTION', 'tgt'],
      dtype='object')