# Examen

## Datos

Alumno

**Nombre:** Alan Ruiz Mondragón.  
**Grupo:** 18.

## Librerias

In [166]:
#Importamos librerias
import datetime
import emoji
import jellyfish as jf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import re 
import seaborn as sns
import unicodedata

#Definimos configuraciones
pd.set_option("display.max_columns",200)
pd.set_option("display.max_rows",200)

## Funciones

In [167]:
#Definimos una función para limpieza de texto
def clean_text(text, pattern="[^a-zA-Z0-9 ]"):
    text=str(text)
    cleaned_text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore')
    cleaned_text = re.sub(pattern, " ", cleaned_text.decode("utf-8"), flags=re.UNICODE)
    cleaned_text = u' '.join(cleaned_text.lower().strip().lstrip().split())
    return cleaned_text if cleaned_text!="nan" else np.nan

#Definimos una función para revisar la completitud de nuestras variables
def completitud(df):
    comple=pd.DataFrame(df.isnull().sum())
    comple.reset_index(inplace=True)
    comple=comple.rename(columns={"index":"columna",0:"total"})
    comple["completitud"]=(1-comple["total"]/df.shape[0])*100
    comple=comple.sort_values(by="completitud",ascending=True)
    comple.reset_index(drop=True,inplace=True)
    return comple

## Datasets

In [168]:
#Cargamos los datos
#Cargamos el dataset principal
df = pd.read_csv('/Users/alanruizmondragon/Documents/PERSONAL/Code/Diplomados/Ciencia de datos/Modulo I/examen/data/data_examen.csv')
#Nombramos al dataset secuendario
df1 = pd.read_csv('/Users/alanruizmondragon/Documents/PERSONAL/Code/Diplomados/Ciencia de datos/Modulo I/examen/data/ocupaciones_examen.csv')

### Créditos

**Contenido**

El primer dataset hace referencia información relacionada con las características de personas que aplicaron para solicitar un crédito, adicional a esa información se cuenta
con una variable ”tgt” que representa una variable objetivo que toma el valor de 1 si se otorgó el crédito y 0 si se rechazó la solicitud.

In [169]:
#Visualizamos el dataset principal
df.head(5)

,ID_CLIENT,ID_SHOP,SEX,MARITAL_STATUS,AGE,QUANT_DEPENDANTS,EDUCATION,FLAG_RESIDENCIAL_PHONE,AREA_CODE_RESIDENCIAL_PHONE,PAYMENT_DAY,SHOP_RANK,RESIDENCE_TYPE,MONTHS_IN_RESIDENCE,FLAG_MOTHERS_NAME,FLAG_FATHERS_NAME,FLAG_RESIDENCE_TOWN=WORKING_TOWN,FLAG_RESIDENCE_STATE=WORKING_STATE,MONTHS_IN_THE_JOB,PROFESSION_CODE,MATE_INCOME,FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS,FLAG_OTHER_CARD,QUANT_BANKING_ACCOUNTS,PERSONAL_REFERENCE_#1,PERSONAL_REFERENCE_#2,FLAG_MOBILE_PHONE,FLAG_CONTACT_PHONE,PERSONAL_NET_INCOME,COD_APPLICATION_BOOTH,QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION,FLAG_CARD_INSURANCE_OPTION,tgt
0,2,15,F,S,18.0,0,NaN,Y,31,20,0,P,216,Y,Y,Y,Y,12,853,0.0,Y,N,0,SARA,FELIPE,N,N,300.0,0,0,N,0
1,4,12,F,C,NaN,0,NaN,N,31,25,0,P,180,Y,Y,N,Y,24,35,0.0,Y,N,0,JACI,VALERIA ALEXANDRA TRAJANO,N,N,304.0,0,0,N,0
2,5,16,F,S,28.0,0,NaN,Y,31,25,0,,12,Y,Y,Y,Y,12,24,0.0,Y,N,0,NaN,SANDRO L P MARTINS,N,N,250.0,0,0,N,0
3,6,24,M,S,26.0,0,NaN,N,31,28,0,P,180,Y,Y,N,Y,0,999,0.0,Y,N,0,NaN,ANA,N,N,800.0,0,0,N,0
4,7,55,F,S,22.0,0,NaN,Y,31,12,0,A,0,Y,Y,Y,Y,48,999,0.0,Y,N,0,NaN,NaN,N,N,410.0,0,0,N,0

**Tamaño**

In [170]:
#Visualizamos el tamaño del dataset
df.shape

(51000, 32)

**Formato**

In [171]:
#Visualizamos la información del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID_CLIENT                                  51000 non-null  int64
 1   ID_SHOP                                    51000 non-null  int64
 2   SEX                                        50997 non-null  object
 3   MARITAL_STATUS                             51000 non-null  object
 4   AGE                                        48528 non-null  float64
 5   QUANT_DEPENDANTS                           51000 non-null  int64
 6   EDUCATION                                  0 non-null      float64
 7   FLAG_RESIDENCIAL_PHONE                     51000 non-null  object
 8   AREA_CODE_RESIDENCIAL_PHONE                51000 non-null  int64
 9   PAYMENT_DAY                                51000 non-null  int64
 10  SHOP_RANK                                  51000 non-null  int64
 11  RESIDENCE_TYPE                             51000 non-null  object
 12  MONTHS_IN_RESIDENCE                        51000 non-null  int64
 13  FLAG_MOTHERS_NAME                          51000 non-null  object
 14  FLAG_FATHERS_NAME                          51000 non-null  object
 15  FLAG_RESIDENCE_TOWN=WORKING_TOWN           51000 non-null  object
 16  FLAG_RESIDENCE_STATE=WORKING_STATE         51000 non-null  object
 17  MONTHS_IN_THE_JOB                          51000 non-null  int64
 18  PROFESSION_CODE                            51000 non-null  int64
 19  MATE_INCOME                                50694 non-null  float64
 20  FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS    51000 non-null  object
 21  FLAG_OTHER_CARD                            51000 non-null  object
 22  QUANT_BANKING_ACCOUNTS                     51000 non-null  int64
 23  PERSONAL_REFERENCE_#1                      30375 non-null  object
 24  PERSONAL_REFERENCE_#2                      37113 non-null  object
 25  FLAG_MOBILE_PHONE                          51000 non-null  object
 26  FLAG_CONTACT_PHONE                         49721 non-null  object
 27  PERSONAL_NET_INCOME                        51000 non-null  object
 28  COD_APPLICATION_BOOTH                      51000 non-null  int64
 29  QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION  51000 non-null  int64
 30  FLAG_CARD_INSURANCE_OPTION                 51000 non-null  object
 31  tgt                                        51000 non-null  int64
dtypes: float64(3), int64(13), object(16)
memory usage: 12.5+ MB

**Diccionario**

In [172]:
#Cargamos el diccionario de datos del dataset principal
diccionario = pd.read_excel('/Users/alanruizmondragon/Documents/PERSONAL/Code/Diplomados/Ciencia de datos/Modulo I/examen/diccionario/VariablesList.xlsx')

In [173]:
#Visualizamos el diccionario de datos del dataset principal 
diccionario

,Var_Id,Var_Title,Var_Description,Field_Content
0,1,ID_CLIENT,Sequential number for the applicant (to be use...,"1-50000, 50001-70000, 70001-90000"
1,2,CLERK_TYPE,Not informed,C
2,3,PAYMENT_DAY,"Day of the month for bill payment, chosen by t...","1,5,10,15,20,25"
3,4,APPLICATION_SUBMISSION_TYPE,Indicates if the application was submitted via...,"Web, Carga"
4,5,QUANT_ADDITIONAL_CARDS/QUANT_ADDITIONAL_CARDS_...,Quantity of additional cards asked for in the ...,"1,2,NULL"
5,6,POSTAL_ADDRESS_TYPE,Indicates if the address for posting is the ho...,1.2
6,7,SEX,NaN,"M=Male, F=Female"
7,8,MARITAL_STATUS,Encoding not informed,"1,2,3,4,5,6,7"
8,9,QUANT_DEPENDANTS,NaN,"0, 1, 2, ..."
9,10,EDUCATION_LEVEL,Edducational level in gradual order not informed,"1,2,3,4,5"
10,11,STATE_OF_BIRTH,NaN,"Brazilian states, XX, missing"
11,12,CITY_OF_BIRTH,NaN,NaN
12,13,NACIONALITY,Country of birth. Encoding not informed but Br...,"0, 1, 2"
13,14,RESIDENCIAL_STATE,State of residence,Working Stage
14,15,RESIDENCIAL_CITY,City of residence,NaN
15,16,RESIDENCIAL_BOROUGH,Borough of residence,NaN
16,17,FLAG_RESIDENCIAL_PHONE,Indicates if the applicant possesses a home phone,"Y,N"
17,18,RESIDENCIAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
18,19,RESIDENCE_TYPE,"Encoding not informed. In general, there are t...","1,2,3,4,5,NULL"
19,20,MONTHS_IN_RESIDENCE,Time in the current residence in months,"1,2,... , NULL"
20,21,FLAG_MOBILE_PHONE,Indicates if the applicant possesses a mobile ...,"Y,N"
21,22,FLAG_EMAIL,Indicates if the applicant possesses an e-mail...,0.1
22,23,PERSONAL_MONTHLY_INCOME/PERSONAL_NET_INCOME,Applicant's personal regular monthly income in...,NaN
23,24,OTHER_INCOMES,Applicant's other incomes monthly averaged in ...,NaN
24,25,FLAG_VISA,Flag indicating if the applicant is a VISA cre...,0.1
25,26,FLAG_MASTERCARD,Flag indicating if the applicant is a MASTERCA...,0.1
26,27,FLAG_DINERS,Flag indicating if the applicant is a SINERS c...,0.1
27,28,FLAG_AMERICAN_EXPRESS,Flag indicating if the applicant is an AMERICA...,0.1
28,29,FLAG_OTHER_CARDS,"Despite being label ""FLAG"", this field present...","0,1,NULL"
29,30,QUANT_BANKING_ACCOUNTS,NaN,"0,1,2"
30,31,QUANT_SPECIAL_BANKING_ACCOUNTS,NaN,"0,1,2"
31,32,PERSONAL_ASSETS_VALUE,Total value of the personal possessions such a...,NaN
32,33,QUANT_CARS,Quantity of cars the applicant possesses,NaN
33,34,COMPANY,If the applicant has supplied the name of the ...,"Y,N"
34,35,PROFESSIONAL_STATE,State where the applicant works,NaN
35,36,PROFESSIONAL_CITY,City where the applicant works,NaN
36,37,PROFESSIONAL_BOROUGH,Borough where the applicant works,NaN
37,38,FLAG_PROFESSIONAL_PHONE,Indicates if the professional phone number was...,"Y,N"
38,39,PROFESSIONAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
39,40,MONTHS_IN_THE_JOB,Time in the current job in months,NaN
40,41,PROFESSION_CODE,Applicant's profession code. Encoding not info...,"1,2,3,..."
41,42,OCCUPATION_TYPE,Encoding not informed,"1,2,3,4,5,NULL"
42,43,MATE_PROFESSION_CODE,Mate's profession code. Encoding not informed,"1,2,3,..."
43,44,EDUCATION_LEVEL,Mate's educational level in gradual order not ...,"1,2,3,4,5"
44,45,FLAG_HOME_ADDRESS_DOCUMENT,Flag indicating documental confirmation of hom...,0.1
45,46,FLAG_RG,Flag indicating documental confirmation of cit...,0.1
46,47,FLAG_CPF,Flag indicating documental confirmation of tax...,0.1
47,48,FLAG_INCOME_PROOF,Flag indicating documental confirmation of income,0.1
48,49,PRODUCT,Type of credit product applied. Encoding not i...,"1,2,7"
49,50,FLAG_ACSP_RECORD,Flag indicating if the applicant has any previ...,"Y, N"
50,51,AGE,Applicant's age at the moment of submission,NaN
51,52,RESIDENCIAL_ZIP_3,Three most significant digits of the actual ho...,NaN
52,53,PROFESSIONAL_ZIP_3,Three most significant digits of the actual jo...,NaN
53,54,TARGET_LABEL_BAD=1 (tgt),"Target Variable: BAD=1, GOOD=0",NaN
54,55,ID_SHOP,Flag indicating shop,NaN
55,56,FLAG_RESIDENCE_TOWN=WORKING_TOWN,NaN,NaN
56,57,MATE_INCOME,Mate's income,NaN
57,58,FLAG_CONTACT_PHONE,Indicates if the contact phone number was supp...,NaN

### Ocupaciones

**Contenido**

El segundo dataset contiene las profesiones y los códigos respectivos a estas.

In [174]:
#Visualizamos el dataset principal
df1.head(5)

   PROFESSION_CODE                              PROFESSION
0              999  Healthcare Practitioners and Technical
1              950  Healthcare Practitioners and Technical
2               13     Educational Instruction and Library
3              205                              Production
4              703     Educational Instruction and Library

**Tamaño**

In [175]:
#Visualizamos el tamaño del dataset
df1.shape

(295, 2)

**Formato**

In [176]:
#Visualizamos la información del dataset
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PROFESSION_CODE  295 non-null    int64
 1   PROFESSION       295 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

## Calidad de datos

### Definición

La calidad de datos se refiere al grado en que los datos se ajustan a los criterios establecidos para su uso. Estos criterios de calidad de los datos abarcan aspectos como exactitud, coherencia, actualización, exhaustividad y decirigibilidad. La calidad de los datos es uno de los principales factores en el éxito de la base de datos. Si los datos no cumplen con los criterios de calidad adecuados, la información generada a partir de dichos datos también será maliciosa o inútil. Por lo tanto, es crítica la necesidad de vigilancia y mejora de la calidad de los datos.

### Etiquetado de variables

#### Contenido

Visualizamos el contenido y las columnas de los datasets nuevamente para registrar los siguientes pasos de calidad.

##### Dataset princial

In [177]:
#Visualizamos las columnas contenidas dentro del dataset principal
df.columns

Index(['ID_CLIENT', 'ID_SHOP', 'SEX', 'MARITAL_STATUS', 'AGE',
       'QUANT_DEPENDANTS', 'EDUCATION', 'FLAG_RESIDENCIAL_PHONE',
       'AREA_CODE_RESIDENCIAL_PHONE', 'PAYMENT_DAY', 'SHOP_RANK',
       'RESIDENCE_TYPE', 'MONTHS_IN_RESIDENCE', 'FLAG_MOTHERS_NAME',
       'FLAG_FATHERS_NAME', 'FLAG_RESIDENCE_TOWN=WORKING_TOWN',
       'FLAG_RESIDENCE_STATE=WORKING_STATE', 'MONTHS_IN_THE_JOB',
       'PROFESSION_CODE', 'MATE_INCOME',
       'FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS', 'FLAG_OTHER_CARD',
       'QUANT_BANKING_ACCOUNTS', 'PERSONAL_REFERENCE_#1',
       'PERSONAL_REFERENCE_#2', 'FLAG_MOBILE_PHONE', 'FLAG_CONTACT_PHONE',
       'PERSONAL_NET_INCOME', 'COD_APPLICATION_BOOTH',
       'QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION',
       'FLAG_CARD_INSURANCE_OPTION', 'tgt'],
      dtype='object')

In [178]:
#Visualizamos el contenido del datset principal
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID_CLIENT                                  51000 non-null  int64
 1   ID_SHOP                                    51000 non-null  int64
 2   SEX                                        50997 non-null  object
 3   MARITAL_STATUS                             51000 non-null  object
 4   AGE                                        48528 non-null  float64
 5   QUANT_DEPENDANTS                           51000 non-null  int64
 6   EDUCATION                                  0 non-null      float64
 7   FLAG_RESIDENCIAL_PHONE                     51000 non-null  object
 8   AREA_CODE_RESIDENCIAL_PHONE                51000 non-null  int64
 9   PAYMENT_DAY                                51000 non-null  int64
 10  SHOP_RANK                                  51000 non-null  int64
 11  RESIDENCE_TYPE                             51000 non-null  object
 12  MONTHS_IN_RESIDENCE                        51000 non-null  int64
 13  FLAG_MOTHERS_NAME                          51000 non-null  object
 14  FLAG_FATHERS_NAME                          51000 non-null  object
 15  FLAG_RESIDENCE_TOWN=WORKING_TOWN           51000 non-null  object
 16  FLAG_RESIDENCE_STATE=WORKING_STATE         51000 non-null  object
 17  MONTHS_IN_THE_JOB                          51000 non-null  int64
 18  PROFESSION_CODE                            51000 non-null  int64
 19  MATE_INCOME                                50694 non-null  float64
 20  FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS    51000 non-null  object
 21  FLAG_OTHER_CARD                            51000 non-null  object
 22  QUANT_BANKING_ACCOUNTS                     51000 non-null  int64
 23  PERSONAL_REFERENCE_#1                      30375 non-null  object
 24  PERSONAL_REFERENCE_#2                      37113 non-null  object
 25  FLAG_MOBILE_PHONE                          51000 non-null  object
 26  FLAG_CONTACT_PHONE                         49721 non-null  object
 27  PERSONAL_NET_INCOME                        51000 non-null  object
 28  COD_APPLICATION_BOOTH                      51000 non-null  int64
 29  QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION  51000 non-null  int64
 30  FLAG_CARD_INSURANCE_OPTION                 51000 non-null  object
 31  tgt                                        51000 non-null  int64
dtypes: float64(3), int64(13), object(16)
memory usage: 12.5+ MB

In [179]:
#Visualizamos la distribución del contenido por tipos de datos de la columna del dataset principal 
df.dtypes.value_counts()

object     16
int64      13
float64     3
dtype: int64

**Distribución del contenido**

Los tipos de datos contenidos en el dataset se distribuyen de la siguiente manera

- Columnas de tipo Object: 16
- Columnas de tipo int: 13
- Columnas de tipo float: 3

##### Dataset secundario

In [180]:
#Visualizamos las columnas contenidas dentro del dataset principal
df1.columns

Index(['PROFESSION_CODE', 'PROFESSION'], dtype='object')

In [181]:
#Visualizamos el contenido del datset secundario
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PROFESSION_CODE  295 non-null    int64
 1   PROFESSION       295 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.7+ KB

In [182]:
#Visualizamos la distribución del contenido por tipos de datos de la columna del dataset secundario 
df1.dtypes.value_counts()

int64     1
object    1
dtype: int64

**Distribución del contenido**

Los tipos de datos contenidos en el dataset se distribuyen de la siguiente manera

- Columnas de tipo int: 1
- Columnas de tipo object: 1

#### Prefijos

Realizamos el etiquetado de las variables utilizando los siguientes prefijos que utilizaremos para los tipos de variables se describen de la siguiente manera

- **c_**: Variables numericas (discretas y continuas).
- **v_**: Variables categoricas.
- **d_**: Variables tipo fecha.
- **t_**: Variables de texto (comentarios, descripciones, url, etc.).
- **g_**: Variables geograficas.

#### Etiquetado

**Dataset principal**

In [183]:
#Realizamos el etiquetado de las variables del datset principal de acuerdo a los prefijos anteriormente establecidos
c_feats=['ID_CLIENT', 'ID_SHOP', 'AGE', 'QUANT_DEPENDANTS', 'PAYMENT_DAY', 'SHOP_RANK',
        'AREA_CODE_RESIDENCIAL_PHONE', 'MONTHS_IN_RESIDENCE', 'MATE_INCOME', 'PERSONAL_NET_INCOME', 'COD_APPLICATION_BOOTH', 'PROFESSION_CODE',
        'QUANT_ADDITIONAL_CARDS_IN_THE_APPLICATION', 'MONTHS_IN_THE_JOB', 'QUANT_BANKING_ACCOUNTS']
v_feats=['SEX', 'EDUCATION', 'MARITAL_STATUS', 'FLAG_MOTHERS_NAME', 'FLAG_FATHERS_NAME', 'FLAG_RESIDENCE_STATE=WORKING_STATE',
        'FLAG_RESIDENCIAL_ADDRESS=POSTAL_ADDRESS', 'FLAG_OTHER_CARD', 'RESIDENCE_TYPE', 'FLAG_RESIDENCE_TOWN=WORKING_TOWN', 'FLAG_RESIDENCIAL_PHONE', 'FLAG_MOBILE_PHONE', 
        'FLAG_CONTACT_PHONE', 'FLAG_CARD_INSURANCE_OPTION']
t_feats=['PERSONAL_REFERENCE_#1', 'PERSONAL_REFERENCE_#2']

In [184]:
#Aplicamos 
c_feats_new = ["c_" + x for x in c_feats]
v_feats_new = ["v_" + x for x in v_feats]
t_feats_new = ["t_" + x for x in t_feats]

#Renombramos las columnas
df.rename(columns = dict(zip(c_feats, c_feats_new)), inplace = True)
df.rename(columns = dict(zip(v_feats, v_feats_new)), inplace = True)
df.rename(columns = dict(zip(t_feats, t_feats_new)), inplace = True)

In [185]:
#Transformamos nuestras columnas en minisculas para una mejor visualización y manipulación futura
df.columns = df.columns.str.lower()

In [186]:
#Validamos el etiquetado
df.columns

Index(['c_id_client', 'c_id_shop', 'v_sex', 'v_marital_status', 'c_age',
       'c_quant_dependants', 'v_education', 'v_flag_residencial_phone',
       'c_area_code_residencial_phone', 'c_payment_day', 'c_shop_rank',
       'v_residence_type', 'c_months_in_residence', 'v_flag_mothers_name',
       'v_flag_fathers_name', 'v_flag_residence_town=working_town',
       'v_flag_residence_state=working_state', 'c_months_in_the_job',
       'c_profession_code', 'c_mate_income',
       'v_flag_residencial_address=postal_address', 'v_flag_other_card',
       'c_quant_banking_accounts', 't_personal_reference_#1',
       't_personal_reference_#2', 'v_flag_mobile_phone',
       'v_flag_contact_phone', 'c_personal_net_income',
       'c_cod_application_booth',
       'c_quant_additional_cards_in_the_application',
       'v_flag_card_insurance_option', 'tgt'],
      dtype='object')

**Dataset secundario**

In [187]:
#Realizamos el etiquetado de las variables del datset principal de acuerdo a los prefijos anteriormente establecidos
c_feats=['PROFESSION_CODE']
v_feats=['PROFESSION']

In [188]:
#Aplicamos 
c_feats_new=["c_"+x for x in c_feats]
v_feats_new=["v_"+x for x in v_feats]

#Renombramos las columnas
df1.rename(columns=dict(zip(c_feats, c_feats_new)),inplace=True)
df1.rename(columns=dict(zip(v_feats, v_feats_new)),inplace=True)

In [189]:
#Transformamos nuestras columnas en minisculas para una mejor visualización y manipulación futura
df1.columns = df1.columns.str.lower()

In [190]:
#Validamos el etiquetado
df1.columns

Index(['c_profession_code', 'v_profession'], dtype='object')

### Duplicados

#### General

**Dataset principal**

Con el resultado de siguiente código podemos observar la existencia de **5** valores duplicados en todo el dataset

In [191]:
#Total de registros duplicados de forma general
df.duplicated().sum()

5

In [192]:
#Visualizamos los duplicados 
df[df.duplicated()]

,c_id_client,c_id_shop,v_sex,v_marital_status,c_age,c_quant_dependants,v_education,v_flag_residencial_phone,c_area_code_residencial_phone,c_payment_day,c_shop_rank,v_residence_type,c_months_in_residence,v_flag_mothers_name,v_flag_fathers_name,v_flag_residence_town=working_town,v_flag_residence_state=working_state,c_months_in_the_job,c_profession_code,c_mate_income,v_flag_residencial_address=postal_address,v_flag_other_card,c_quant_banking_accounts,t_personal_reference_#1,t_personal_reference_#2,v_flag_mobile_phone,v_flag_contact_phone,c_personal_net_income,c_cod_application_booth,c_quant_additional_cards_in_the_application,v_flag_card_insurance_option,tgt
50152,39582,24,F,C,27.0,0,NaN,Y,31,12,0,P,12,Y,Y,Y,Y,120,654,0.0,Y,N,0,GUIOMAR,JAQUELINE,N,N,382.0,0,0,N,0
50213,44401,16,F,O,22.0,0,NaN,Y,31,28,0,P,12,Y,Y,N,Y,0,999,0.0,Y,N,0,MARIA DO SOCORRO**TIA,LUZIA,N,N,220.0,0,0,N,0
50592,17829,19,F,S,39.0,0,NaN,Y,31,8,0,P,96,Y,Y,Y,Y,12,26,0.0,Y,N,0,CRISTINA,TANIA,N,N,225.0,0,0,N,0
50938,32014,20,F,S,37.0,0,NaN,Y,31,8,0,P,432,Y,Y,Y,Y,12,205,0.0,Y,N,0,CLAUDIA,ROSANGELA,N,N,200.0,0,0,N,1
50944,19388,22,M,C,27.0,0,NaN,N,50,8,0,P,24,Y,Y,N,Y,96,514,0.0,Y,N,0,MIN EXERCITO,NaN,N,N,756.0,0,1,N,0

In [193]:
#Mantenemos el primer elemento de los duplicados
df.drop_duplicates(keep = 'first', inplace = True)

In [194]:
#Visualizamos el dataset principal y observamos que se han eliminado los duplicados
df

,c_id_client,c_id_shop,v_sex,v_marital_status,c_age,c_quant_dependants,v_education,v_flag_residencial_phone,c_area_code_residencial_phone,c_payment_day,c_shop_rank,v_residence_type,c_months_in_residence,v_flag_mothers_name,v_flag_fathers_name,v_flag_residence_town=working_town,v_flag_residence_state=working_state,c_months_in_the_job,c_profession_code,c_mate_income,v_flag_residencial_address=postal_address,v_flag_other_card,c_quant_banking_accounts,t_personal_reference_#1,t_personal_reference_#2,v_flag_mobile_phone,v_flag_contact_phone,c_personal_net_income,c_cod_application_booth,c_quant_additional_cards_in_the_application,v_flag_card_insurance_option,tgt
0,2,15,F,S,18.0,0,NaN,Y,31,20,0,P,216,Y,Y,Y,Y,12,853,0.0,Y,N,0,SARA,FELIPE,N,N,300.0,0,0,N,0
1,4,12,F,C,NaN,0,NaN,N,31,25,0,P,180,Y,Y,N,Y,24,35,0.0,Y,N,0,JACI,VALERIA ALEXANDRA TRAJANO,N,N,304.0,0,0,N,0
2,5,16,F,S,28.0,0,NaN,Y,31,25,0,,12,Y,Y,Y,Y,12,24,0.0,Y,N,0,NaN,SANDRO L P MARTINS,N,N,250.0,0,0,N,0
3,6,24,M,S,26.0,0,NaN,N,31,28,0,P,180,Y,Y,N,Y,0,999,0.0,Y,N,0,NaN,ANA,N,N,800.0,0,0,N,0
4,7,55,F,S,22.0,0,NaN,Y,31,12,0,A,0,Y,Y,Y,Y,48,999,0.0,Y,N,0,NaN,NaN,N,N,410.0,0,0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50995,29197,16,F,S,72.0,0,NaN,Y,31,23,0,C,120,Y,Y,Y,Y,12,219,0.0,Y,N,0,VANESSA ARMADA ( AMIGA ),GISELE ARMADA,N,N,400.0,0,0,N,0
50996,43802,23,F,S,31.0,0,NaN,Y,31,18,0,P,240,Y,Y,N,Y,72,131,0.0,Y,N,0,ROSANA,DELCI,N,N,900.0,0,0,N,1
50997,1881,4,F,C,51.0,0,NaN,Y,31,20,0,P,12,Y,Y,N,Y,24,999,0.0,Y,N,0,LUCIANA DE OLIVEIRA,ELIANE DOS SANTOS,N,N,280.0,0,0,N,0
50998,42857,25,F,C,71.0,0,NaN,Y,50,12,0,P,300,Y,Y,Y,Y,0,32,0.0,Y,N,0,RAIMUNDA,NaN,N,N,1100.0,0,0,N,0
50999,46722,5,F,V,42.0,0,NaN,Y,23,18,0,P,48,Y,Y,N,Y,0,703,0.0,Y,N,0,MARIA DO CARMO LANNES,NaN,N,N,1100.0,0,1,N,1

**Dataset secundario**

Con el resultado de siguiente código podemos observar la existencia de **0** valores duplicados en todo el dataset.

In [195]:
#Total de registros duplicados de forma general
df1.duplicated().sum()

0

In [196]:
#Visualizamos el dataset principal y observamos que se han eliminado los duplicados
df1

     c_profession_code                            v_profession
0                  999  Healthcare Practitioners and Technical
1                  950  Healthcare Practitioners and Technical
2                   13     Educational Instruction and Library
3                  205                              Production
4                  703     Educational Instruction and Library
..                 ...                                     ...
290                152                              Production
291                516      Life, Physical, and Social Science
292                 50     Educational Instruction and Library
293                850      Life, Physical, and Social Science
294                726     Educational Instruction and Library

[295 rows x 2 columns]

### Completitud

#### Dataset principal

In [197]:
df.isnull().sum(0)

c_id_client                                        0
c_id_shop                                          0
v_sex                                              3
v_marital_status                                   0
c_age                                           2472
c_quant_dependants                                 0
v_education                                    50995
v_flag_residencial_phone                           0
c_area_code_residencial_phone                      0
c_payment_day                                      0
c_shop_rank                                        0
v_residence_type                                   0
c_months_in_residence                              0
v_flag_mothers_name                                0
v_flag_fathers_name                                0
v_flag_residence_town=working_town                 0
v_flag_residence_state=working_state               0
c_months_in_the_job                                0
c_profession_code                                  0
c_mate_income                                    306
v_flag_residencial_address=postal_address          0
v_flag_other_card                                  0
c_quant_banking_accounts                           0
t_personal_reference_#1                        20625
t_personal_reference_#2                        13886
v_flag_mobile_phone                                0
v_flag_contact_phone                            1279
c_personal_net_income                              0
c_cod_application_booth                            0
c_quant_additional_cards_in_the_application        0
v_flag_card_insurance_option                       0
tgt                                                0
dtype: int64

In [198]:
#Revisamos la completitud de las columnas del dataset
completitud(df)

                                        columna  total  completitud
0                                   v_education  50995     0.000000
1                       t_personal_reference_#1  20625    59.554858
2                       t_personal_reference_#2  13886    72.769879
3                                         c_age   2472    95.152466
4                          v_flag_contact_phone   1279    97.491911
5                                 c_mate_income    306    99.399941
6                                         v_sex      3    99.994117
7                                   c_id_client      0   100.000000
8     v_flag_residencial_address=postal_address      0   100.000000
9                             v_flag_other_card      0   100.000000
10                     c_quant_banking_accounts      0   100.000000
11                          v_flag_mobile_phone      0   100.000000
12                        c_personal_net_income      0   100.000000
13                      c_cod_application_booth      0   100.000000
14  c_quant_additional_cards_in_the_application      0   100.000000
15                            c_profession_code      0   100.000000
16                          c_months_in_the_job      0   100.000000
17           v_flag_residence_town=working_town      0   100.000000
18                 v_flag_card_insurance_option      0   100.000000
19                          v_flag_fathers_name      0   100.000000
20                          v_flag_mothers_name      0   100.000000
21                        c_months_in_residence      0   100.000000
22                             v_residence_type      0   100.000000
23                                  c_shop_rank      0   100.000000
24                                c_payment_day      0   100.000000
25                c_area_code_residencial_phone      0   100.000000
26                     v_flag_residencial_phone      0   100.000000
27                           c_quant_dependants      0   100.000000
28                             v_marital_status      0   100.000000
29                                    c_id_shop      0   100.000000
30         v_flag_residence_state=working_state      0   100.000000
31                                          tgt      0   100.000000

**Observaciones**

Se recomienda que las variables esten completas en al menos 80%, de modo que las que no cumplan con esta condición serán eliminadas. En este sentido, y para el presente análisis, las columnas que no cumplen con dicha regla y que deberían ser eliminadas se enlistan a continuación:

- v_education
- t_personal_reference_#1
- t_personal_reference_#2

In [199]:
#Revisamos nuevamente el tamaño antes de eliminar las columnas con información incompleta 
df.shape

(50995, 32)

In [200]:
#Eliminamos las columnas con información incompleta
df.drop(columns = ["v_education", "t_personal_reference_#1", "t_personal_reference_#2"], inplace = True)

In [202]:
##Revisamos nuevamente el tamaño despúes de haber de eliminado las columnas con información incompleta 
df.shape

(50995, 29)

In [204]:
#Revisamos que no quedan columnas incompletas, es decir, con información menor del 80% 
completitud(df)

                                        columna  total  completitud
0                                         c_age   2472    95.152466
1                          v_flag_contact_phone   1279    97.491911
2                                 c_mate_income    306    99.399941
3                                         v_sex      3    99.994117
4                                   c_id_client      0   100.000000
5   c_quant_additional_cards_in_the_application      0   100.000000
6                       c_cod_application_booth      0   100.000000
7                         c_personal_net_income      0   100.000000
8                           v_flag_mobile_phone      0   100.000000
9                      c_quant_banking_accounts      0   100.000000
10                            v_flag_other_card      0   100.000000
11    v_flag_residencial_address=postal_address      0   100.000000
12                            c_profession_code      0   100.000000
13                          c_months_in_the_job      0   100.000000
14         v_flag_residence_state=working_state      0   100.000000
15           v_flag_residence_town=working_town      0   100.000000
16                          v_flag_fathers_name      0   100.000000
17                          v_flag_mothers_name      0   100.000000
18                        c_months_in_residence      0   100.000000
19                             v_residence_type      0   100.000000
20                                  c_shop_rank      0   100.000000
21                                c_payment_day      0   100.000000
22                c_area_code_residencial_phone      0   100.000000
23                     v_flag_residencial_phone      0   100.000000
24                           c_quant_dependants      0   100.000000
25                             v_marital_status      0   100.000000
26                                    c_id_shop      0   100.000000
27                 v_flag_card_insurance_option      0   100.000000
28                                          tgt      0   100.000000

#### Dataset secundario

In [205]:
df1.isnull().sum(0)

c_profession_code    0
v_profession         0
dtype: int64

In [206]:
#Revisamos la completitud de las columnas del dataset
completitud(df1)

             columna  total  completitud
0  c_profession_code      0        100.0
1       v_profession      0        100.0

**Observaciones**

No se encuentran variables incompletas

### Consistencia

#### Categóricas

In [231]:
#Revisamos las variables categoricas con la siguiente iteración donde se filtran los valores de las variable de forma única y en un formato de cadena
for i in df.filter(like="v_"):
  print(i)
  values = df[i].astype(str).unique()
  values.sort()
  display(values)
  print("\n")

v_sex

array(['F', 'M', 'n.a', 'nan'], dtype=object)

v_marital_status

array(['C', 'C ', 'D', 'D ', 'O', 'O ', 'S', 'S ', 'V', 'V '],
      dtype=object)

v_flag_residencial_phone

array(['N', 'Y', 'n', 'y'], dtype=object)

v_residence_type

array([' ', ' a', ' c', ' o', ' p', 'A', 'A ', 'C', 'C ', 'O', 'O ', 'P',
       'P ', 'a', 'c', 'o', 'p', 'p '], dtype=object)

v_flag_mothers_name

array(['N', 'Y'], dtype=object)

v_flag_fathers_name

array(['N', 'Y'], dtype=object)

v_flag_residence_town=working_town

array(['N', 'Y'], dtype=object)

v_flag_residence_state=working_state

array(['N', 'Y'], dtype=object)

v_flag_residencial_address=postal_address

array(['N', 'Y'], dtype=object)

v_flag_other_card

array(['N'], dtype=object)

v_flag_mobile_phone

array(['N'], dtype=object)

v_flag_contact_phone

array(['N', 'nan'], dtype=object)

v_flag_card_insurance_option

array(['N'], dtype=object)

**Variables con inconstistencias**

Al revisar las variables categóricas se pueden observar las siguientes variables con inconsistencias y sus respectivas causas:

1. **v_sex**: Esta variable contiene dos formas diferentes de representación de nulos.
2. **v_marital_status**: Esta variable contiene diversas formas de representar cada una de sus categorías debido a que hay espacios antes o despues de la cadena.
3. **v_flag_residencial_phone**: Esta variable contiene diversas formas de representar cada una de sus categorías debido a que hay minusculas y mayusculas para cada una.
4. **v_residence_type**: Esta variable contiene diversas formas de representar cada una de sus categorías debido a que hay minusculas, mayusculas y espacios al inicio o al final de cada una.

**Observaciones**

La variable **v_flag_contact_phone** contiene valores **nan** hay que validar que esten en el formato correcto.

#### Continuas

In [232]:
#Revisamos las variables continuas con la siguiente iteración donde se filtran los valores de las variable de forma única y en un formato de cadena
for i in df.filter(like="c_"):
  print(i)
  values = df[i].astype(str).unique()
  values.sort()
  display(values)
  print("\n")

c_id_client

array(['1', '10', '100', ..., '9997', '9998', '9999'], dtype=object)

c_id_shop

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '2', '20', '21', '22', '23', '24', '25', '3', '4', '5', '50', '55',
       '6', '66', '7', '77', '8', '81', '9', '96'], dtype=object)

c_age

array(['114.0', '120.0', '126.0', '132.0', '138.0', '144.0', '15.0',
       '16.0', '168.0', '17.0', '18.0', '186.0', '19.0', '192.0', '198.0',
       '20.0', '21.0', '210.0', '22.0', '222.0', '23.0', '24.0', '240.0',
       '246.0', '25.0', '26.0', '264.0', '27.0', '28.0', '282.0', '29.0',
       '30.0', '300.0', '31.0', '318.0', '32.0', '33.0', '34.0', '35.0',
       '354.0', '36.0', '37.0', '372.0', '38.0', '384.0', '39.0', '40.0',
       '41.0', '42.0', '43.0', '44.0', '45.0', '46.0', '47.0', '48.0',
       '49.0', '50.0', '51.0', '52.0', '53.0', '54.0', '55.0', '56.0',
       '57.0', '58.0', '59.0', '60.0', '61.0', '62.0', '63.0', '64.0',
       '65.0', '66.0', '67.0', '68.0', '69.0', '70.0', '71.0', '72.0',
       '73.0', '74.0', '75.0', '76.0', '77.0', '78.0', '79.0', '80.0',
       '81.0', '82.0', '83.0', '84.0', '85.0', '86.0', '87.0', '88.0',
       '89.0', '90.0', '91.0', '92.0', '93.0', '94.0', '95.0', '96.0',
       '97.0', '98.0', '99.0', 'nan'], dtype=object)

c_quant_dependants

array(['0'], dtype=object)

c_area_code_residencial_phone

array(['1', '10', '11', '12', '13', '14', '15', '17', '18', '19', '2',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3',
       '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4',
       '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '5',
       '50', '51', '52', '53', '54', '56', '57', '58', '59', '6', '60',
       '61', '62', '63', '64', '65', '67', '68', '69', '7', '70', '8',
       '9'], dtype=object)

c_payment_day

array(['1', '11', '12', '15', '16', '18', '20', '22', '23', '25', '27',
       '28', '3', '6', '8', '9'], dtype=object)

c_shop_rank

array(['0', '2', '3'], dtype=object)

c_months_in_residence

array(['0', '1020', '108', '1116', '1176', '1188', '12', '120', '132',
       '144', '156', '168', '180', '192', '204', '216', '228', '24',
       '240', '252', '264', '276', '288', '300', '312', '324', '336',
       '348', '36', '360', '372', '384', '396', '408', '420', '432',
       '444', '456', '468', '48', '480', '492', '504', '516', '528',
       '540', '552', '564', '576', '588', '60', '600', '612', '624',
       '636', '648', '660', '672', '684', '696', '708', '72', '720',
       '732', '744', '756', '780', '792', '804', '816', '828', '84',
       '840', '852', '876', '888', '900', '912', '96'], dtype=object)

c_months_in_the_job

array(['0', '108', '1104', '1176', '12', '120', '132', '144', '156',
       '168', '180', '192', '204', '216', '228', '24', '240', '252',
       '264', '276', '288', '300', '312', '324', '336', '348', '36',
       '360', '372', '384', '396', '408', '420', '432', '444', '456',
       '468', '48', '480', '492', '504', '516', '552', '576', '588', '60',
       '600', '612', '660', '684', '708', '72', '780', '84', '852', '96'],
      dtype=object)

c_profession_code

array(['0', '1', '10', '100', '102', '103', '105', '106', '107', '108',
       '109', '11', '110', '113', '114', '115', '116', '117', '118',
       '119', '12', '120', '121', '123', '124', '125', '127', '129', '13',
       '130', '131', '132', '133', '134', '135', '136', '137', '138',
       '139', '140', '141', '15', '150', '151', '152', '153', '154',
       '155', '158', '159', '16', '161', '163', '164', '165', '166',
       '167', '168', '169', '17', '18', '19', '2', '201', '202', '203',
       '205', '209', '21', '210', '211', '213', '214', '215', '217',
       '218', '219', '22', '220', '221', '222', '223', '24', '25', '250',
       '251', '253', '254', '255', '26', '260', '261', '262', '263',
       '264', '265', '266', '28', '29', '3', '30', '300', '301', '302',
       '304', '305', '307', '308', '309', '31', '310', '311', '312', '32',
       '33', '34', '35', '350', '351', '352', '36', '37', '38', '39', '4',
       '40', '400', '401', '402', '403', '41', '42', '43', '44', '45',
       '450', '453', '46', '47', '48', '49', '5', '50', '500', '501',
       '502', '503', '504', '505', '506', '508', '509', '51', '510',
       '512', '513', '514', '515', '516', '518', '519', '52', '520',
       '521', '522', '524', '525', '526', '527', '528', '53', '55', '56',
       '57', '58', '59', '6', '60', '600', '61', '62', '63', '64', '65',
       '650', '651', '652', '653', '654', '655', '656', '657', '66', '67',
       '68', '69', '7', '70', '701', '702', '703', '704', '705', '706',
       '707', '708', '709', '71', '710', '711', '712', '713', '714',
       '715', '716', '717', '718', '719', '72', '720', '721', '722',
       '725', '726', '727', '728', '729', '73', '730', '731', '732',
       '750', '76', '77', '78', '79', '8', '80', '800', '801', '802',
       '803', '804', '806', '807', '850', '851', '852', '853', '854',
       '855', '856', '857', '858', '859', '860', '861', '862', '863',
       '864', '865', '88', '89', '9', '901', '903', '904', '905', '907',
       '908', '910', '911', '912', '913', '914', '915', '916', '917',
       '918', '919', '920', '921', '922', '923', '924', '950', '951',
       '952', '953', '954', '99', '990', '991', '992', '999'],
      dtype=object)

c_mate_income

array(['0.0', '1.0', '100.0', '1000.0', '10000.0', '1002.0', '1003.0',
       '1010.0', '1012.0', '1014.0', '1016.0', '1017.0', '1018.0',
       '1020.0', '1021.0', '1022.0', '1025.0', '1026.0', '1030.0',
       '1032.0', '1033.0', '1034.0', '1036.0', '1037.0', '1038.0',
       '1050.0', '1051.0', '1052.0', '1054.0', '1055.0', '1056.0',
       '1057.0', '1060.0', '1064.0', '1065.0', '1066.0', '1069.0',
       '1070.0', '1072.0', '1075.0', '1076.0', '1077.0', '1083.0',
       '1086.0', '1092.0', '1096.0', '1098.0', '1099.0', '1100.0',
       '1108.0', '1109.0', '1110.0', '1120.0', '1121.0', '1126.0',
       '1131.0', '1132.0', '1133.0', '1136.0', '1141.0', '1144.0',
       '1147.0', '11476.0', '1148.0', '1150.0', '1151.0', '1154.0',
       '1157.0', '1158.0', '1162.0', '1163.0', '1167.0', '1170.0',
       '1177.0', '1184.0', '1200.0', '1201.0', '1205.0', '1209.0',
       '1210.0', '1215.0', '1216.0', '1227.0', '1230.0', '1239.0',
       '1249.0', '1250.0', '1263.0', '1269.0', '1273.0', '1276.0',
       '1287.0', '1289.0', '1300.0', '1305.0', '1309.0', '1330.0',
       '1350.0', '1352.0', '1354.0', '1358.0', '1368.0', '1370.0',
       '1379.0', '1383.0', '1385.0', '1395.0', '1396.0', '1400.0',
       '1413.0', '1414.0', '1418.0', '1421.0', '1423.0', '1430.0',
       '1439.0', '1440.0', '1450.0', '1470.0', '1485.0', '1486.0',
       '1492.0', '150.0', '1500.0', '150000.0', '1507.0', '1511.0',
       '1517.0', '1523.0', '1527.0', '1536.0', '1547.0', '1549.0',
       '155.0', '1563.0', '1575.0', '1580.0', '1600.0', '1607.0',
       '1623.0', '1640.0', '1645.0', '1650.0', '1662.0', '1664.0',
       '1688.0', '1695.0', '1700.0', '1709.0', '1715.0', '1720.0',
       '1734.0', '1737.0', '1745.0', '1750.0', '1756.0', '1762.0',
       '1769.0', '1776.0', '1778.0', '1780.0', '1790.0', '1793.0',
       '180.0', '1800.0', '1840.0', '1847.0', '1850.0', '1862.0',
       '1864.0', '1868.0', '1875.0', '1886.0', '1892.0', '190.0',
       '1900.0', '1906.0', '1919.0', '1949.0', '196.0', '1986.0',
       '1988.0', '200.0', '2000.0', '201.0', '2023.0', '2025.0', '2044.0',
       '2047.0', '205.0', '206.0', '2076.0', '2089.0', '209.0', '210.0',
       '2100.0', '2101.0', '2105.0', '2107.0', '2131.0', '215.0',
       '21540.0', '2175.0', '2180.0', '2189.0', '2191.0', '220.0',
       '2200.0', '2225.0', '223.0', '224.0', '22400.0', '2255.0',
       '2259.0', '226.0', '2289.0', '229.0', '2297.0', '230.0', '2300.0',
       '2311.0', '2318.0', '2322.0', '233.0', '2335.0', '236.0', '237.0',
       '238.0', '2385.0', '240.0', '2400.0', '2413.0', '242.0', '2427.0',
       '2429.0', '244.0', '2441.0', '2472.0', '250.0', '2500.0', '2503.0',
       '251.0', '2517.0', '2529.0', '2547.0', '2560.0', '2561.0',
       '2568.0', '259.0', '2595.0', '260.0', '2600.0', '2616.0', '262.0',
       '265.0', '2661.0', '2663.0', '270.0', '2700.0', '2713.0', '272.0',
       '273.0', '2730.0', '2736.0', '275.0', '2766.0', '278.0', '280.0',
       '2800.0', '281.0', '2813.0', '2814.0', '2824.0', '2826.0', '283.0',
       '2832.0', '284.0', '288.0', '2885.0', '290.0', '2900.0', '2918.0',
       '2958.0', '300.0', '3000.0', '3018.0', '3022.0', '3040.0',
       '30400.0', '3047.0', '3061.0', '310.0', '3100.0', '3115.0',
       '312.0', '315.0', '3154.0', '318.0', '3196.0', '320.0', '3200.0',
       '3208.0', '322.0', '323.0', '324.0', '3250.0', '326.0', '326.33',
       '3271.0', '3277.0', '330.0', '3300.0', '331.0', '3320.0', '3323.0',
       '3334.0', '335.0', '340.0', '3400.0', '342.0', '343.0', '345.0',
       '346.0', '347.0', '3473.0', '3475.0', '349.0', '350.0', '3500.0',
       '35000.0', '351.0', '3537.0', '355.0', '357.0', '359.0', '360.0',
       '3600.0', '3606.0', '3616.0', '364.0', '3640.0', '3649.0', '365.0',
       '366.0', '368.0', '370.0', '372.0', '3722.0', '373.0', '375.0',
       '3762.0', '377.0', '380.0', '3800.0', '3816.0', '3820.0', '385.0',
       '390.0', '392.0', '3932.0', '395.0', '3975.0', '398.0', '400.0',
       '4000.0', '4014.0', '403.0', '404.0', '408.0', '409.0', '412.0',
       '415.0', '418.0', '419.0', '420.0', '4203.0', '421.0', '4212.0',
       '4225.0', '424.0', '425.0', '4256.0', '427.0', '428.0', '429.0',
       '430.0', '431.0', '433.0', '434.0', '4352.0', '440.0', '442.0',
       '4424.0', '4426.0', '448.0', '450.0', '4500.0', '452.0', '4537.0',
       '454.0', '455.0', '457.0', '4578.0', '458.0', '459.0', '4590.0',
       '460.0', '4600.0', '462.0', '465.0', '467.0', '470.0', '479.0',
       '480.0', '4800.0', '481.0', '482.0', '485.0', '486.0', '490.0',
       '495.0', '498.0', '50.0', '500.0', '5000.0', '502.0', '505.0',
       '508.0', '510.0', '5147.0', '518.0', '520.0', '522.0', '5249.0',
       '525.0', '526.0', '529.0', '530.0', '5300.0', '531.0', '532.0',
       '5320.0', '534.0', '535.0', '540.0', '542.0', '543.0', '546.0',
       '550.0', '5503.0', '552.0', '554.0', '555.0', '556.0', '557.0',
       '558.0', '560.0', '562.0', '565.0', '568.0', '569.0', '570.0',
       '578.0', '580.0', '582.0', '583.0', '585.0', '588.0', '590.0',
       '592.0', '593.0', '594.0', '596.0', '600.0', '6000.0', '601.0',
       '6011.0', '603.0', '604.0', '605.0', '609.0', '610.0', '6100.0',
       '616.0', '617.0', '6171.0', '6175.0', '619.0', '620.0', '622.0',
       '625.0', '630.0', '636.0', '639.0', '640.0', '643.0', '645.0',
       '646.0', '649.0', '650.0', '6500.0', '653.0', '655.0', '658.0',
       '659.0', '660.0', '662.0', '665.0', '668.74', '670.0', '6708.0',
       '673.0', '674.0', '675.0', '676.0', '6772.0', '680.0', '6839.0',
       '686.0', '687.0', '689.0', '690.0', '698.0', '699.0', '700.0',
       '7000.0', '70000.0', '703.0', '704.0', '707.0', '709.0', '710.0',
       '712.0', '714.0', '715.0', '717.0', '719.0', '720.0', '722.0',
       '723.0', '725.0', '727.0', '735.0', '738.0', '740.0', '741.0',
       '742.0', '743.0', '746.0', '749.0', '750.0', '753.0', '755.0',
       '756.0', '757.0', '758.0', '760.0', '761.0', '763.0', '765.0',
       '768.0', '769.0', '770.0', '773.0', '774.0', '776.0', '778.0',
       '779.0', '780.0', '7800.0', '781.0', '782.0', '787.0', '790.0',
       '792.0', '793.0', '797.0', '798.0', '800.0', '8000.0', '80000.0',
       '807.0', '808.0', '815.0', '816.0', '821.0', '822.0', '823.0',
       '826.0', '827.0', '830.0', '831.0', '833.0', '835.0', '840.0',
       '843.0', '844.0', '846.0', '850.0', '8513.0', '852.0', '853.0',
       '854.0', '860.0', '861.0', '865.0', '866.0', '869.0', '870.0',
       '872.0', '873.0', '876.0', '877.0', '879.0', '880.0', '883.0',
       '890.0', '892.0', '893.0', '895.0', '898.0', '900.0', '906.0',
       '908.0', '916.0', '917.0', '918.0', '920.0', '923.0', '924.0',
       '928.0', '930.0', '931.0', '939.0', '942.0', '944.0', '945.0',
       '950.0', '951.0', '957.0', '959.0', '967.0', '970.0', '972.0',
       '974.0', '976.0', '978.0', '979.0', '980.0', '981.0', '982.0',
       '983.0', '985.0', '986.0', '987.0', '990.0', '991.0', '996.0',
       '998.0', 'nan'], dtype=object)

c_quant_banking_accounts

array(['0'], dtype=object)

c_personal_net_income

array(['0.0', '1.0', '10.0', ..., '998.0', '999.0', 'n.a.'], dtype=object)

c_cod_application_booth

array(['0'], dtype=object)

c_quant_additional_cards_in_the_application

array(['0', '1', '2', '3'], dtype=object)

**Variables con inconstistencias**

Al revisar las variables categóricas se pueden observar las siguientes variables con inconsistencias y sus respectivas causas:

1. **v_sex**: Esta variable contiene dos formas diferentes de representación de nulos.
2. **v_marital_status**: Esta variable contiene diversas formas de representar cada una de sus categorías debido a que hay espacios antes o despues de la cadena.
3. **v_flag_residencial_phone**: Esta variable contiene diversas formas de representar cada una de sus categorías debido a que hay minusculas y mayusculas para cada una.
4. **v_residence_type**: Esta variable contiene diversas formas de representar cada una de sus categorías debido a que hay minusculas, mayusculas y espacios al inicio o al final de cada una.

**Observaciones**

La variable **v_flag_contact_phone** contiene valores **nan** hay que validar que esten en el formato correcto.